#planet_1 {
    color: green;
    radius: 10px;
}

#planet_2 {
    radius: 10px;
}

#planet_3 {
    radius: 10px;
}

#planet_4 {
    radius: 10px;
}

#planet_5 {
    radius: 10px;
}

#planet_6 {
    radius: 10px;
}

#planet_7 {
    radius: 10px;
}

#planet_8 {
    radius: 10px;
}

#planet_9 {
    radius: 10px;
}

#planet_10 {
    radius: 10px;
}

#sun_10 {
    color: yellow;
    radius: 20px;
}