body {
    background-image: url('https://media3.giphy.com/media/26n6G8lRMOrYC6rFS/giphy.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

.sideMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 15%;
    height: 60%;
    background-color: #FFB9C8;
    border-radius: 20px;
    padding: 10px;
    border-style: dotted;
    left: 80%;
    bottom: 15%;
}

.title {
    color: white;
    font-family: 'Modak', cursive;
    font-size: 100px;
    text-align: center;
}

#starRadio {
    top: 25px;
    left: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
}

#planetRadio {
    top: 25px;
    left: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
}

#submit {
    padding: 20px;
    margin: 20px;
    background-color: pink;
    font-family: Arial;
    font-size: 30px;
    border-radius: 10px;
    color: magenta;
}

p {
    font-family: Arial;
    font-size: 20px;
    color: magenta;
    font-style: italic;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 15px;
    color: magenta;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 15px;
    color: magenta;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #dd6b61;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    height: 80%;
}